.section {
  padding: 30px 30px;
  .page-title {
    text-align: center;
    padding-bottom: 30px;
  }
  .page-input {
    width: 100%;
    padding: 5px 10px;
  }
  .number-character {
    margin: 5px 0;
  }
}
